
<div  *ngIf="job$ | async as job" class="bg-gray-200 min-h-screen">
    <div class="sm:max-w-7xl sm:mx-auto mx-6 py-6 ">
        <h2 class="font-semibold text-2xl text-center">Apply for {{job?.title}} by {{job?.company}}</h2>
    </div>

    <form class="sm:max-w-lg sm:mx-auto mx-6 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="jobForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="fullName">
            Full Name
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" formControlName="fullName">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="email" formControlName="email" >
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
              Message
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="email" formControlName="message" placeholder="Tell us about yourself">
          </div>
        <div class="flex items-center justify-between">
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Send
          </button>
          <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" [routerLink]="['/job-details', job?.id]">
            Cancel
          </a>
        </div>
      </form>
       
   
</div>